h4.caption.photo-credit {
    font-size: 10px;
    line-height: 16px;
    text-transform: none;
    letter-spacing: initial;;
}

.content h4.caption.photo-credit {
	bottom: -43px;
}

@media only screen and (max-width: 768px) {
	h4.caption.photo-credit {
		opacity: 1;
	}
	.gallery.type-a, .gallery.type-b {
		height: calc(25vh + 65px);
	}
}

@media only screen and (max-width: 480px) {
	h4.caption.photo-credit {
		opacity: 1;
	}
	.gallery.type-a, .gallery.type-b {
		height: calc(25vh + 65px);
		max-height: 34vh;
	}
}	