h2 {
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
}

h4 {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    a,
    a:visited {
        color: white;
        text-decoration: none;
    }
}

hr {
    display: block;
    max-width: 60px;
    border: 1px solid $color-teal;
    border-bottom: none;
    margin: 30px 0;
}

.italic-heading {
    font-size: 64px;
    line-height: 72px;
    font-family: $font-stack-secondary;
    font-style: italic;
    text-transform: none;
    &.small {
        font-size: 32px;
        line-height: 44px;
    }
}

body {
    background-color: black;
    color: white;
    &.loaded {
        header,
        footer {
            opacity: 1;
        }
        #home {
            #title {
                width: 640px;
            }
            .italic-heading {
                font-size: 46px;
                line-height: 54px;
            }
        }
    }
    &.nav-open {
        .logo-container.horizontal {
            @include animated;
            opacity: 0;
        }
        .content {
            opacity: 0;
        }
        nav {
            opacity: 1;
            height: 100%;
        }
        header,
        footer {
            opacity: 0;
        }
        #open-nav-button {
            opacity: 0;
        }
        #close-nav-button {
            opacity: 1;
            display: inline-block;
        }
        #home {
            #title {
                @include animated;
            }
        }
    }
}

#preload {
    display: none;
}

.video-background {
    @include animated(all, 1000ms, ease);
    opacity: 0;
    position: absolute;
    z-index: -1;
    min-width: 105%;
    min-height: 105%;
    width: auto;
    height: auto;
    background-size: cover;
    pointer-events: none;
    filter: none;
    &.show {
        opacity: 1;
    }
    &.blur {
        filter: blur(5px);
    }
}

.full-parent-height {
    position: relative;
}

header {
    @include animated;
    padding: 36px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9998;
    opacity: 0;
    #back-to-np {
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            display: none;
        }
    }
}

footer {
    @extend header;
    top: initial;
    bottom: 0;
    .icon {
        color: white;
        display: inline-block;
        font-size: 22px;
        + .icon {
            margin-left: 10px;
        }
        &:hover {
            opacity: 0.5;
        }
    }
}

.roman-numeral {
    font-size: 22px;
    font-family: $font-stack-secondary;
    stroke: $color-green;
    stroke-width: 0.15px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 700;
    fill: none;
    position: absolute;
    top: -72px;
    z-index: -1;
    display: block;
}

nav {
    @include animated;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    opacity: 0;
    width: 100%;
    background-color: rgba(black, 0.75);
    position: fixed;
    top: 0;
    z-index: 9999;
    overflow: hidden;
    height: 0;
    > ul {
        list-style: none;
        > li {
            @include animated;
            position: relative;
            text-align: center;
            top: -50px;
            opacity: 0;
            display: block;
            width: 100%;
            border-top: 1px solid white;
            &:first-child {
                border-top: none;
            }
            &.show {
                top: 0;
                opacity: 1;
            }
            a,
            a:visited {
                @include animated;
                background: transparent;
                color: white;
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                vertical-align: middle;
                &:hover {
                    background-color: rgba(white, 0.7);
                    color: $color-nav-hover;
                }
                span {
                    display: block;
                }
            }
        }
    }
    .roman-numeral {
        font-size: 4px;
        stroke-width: 0.1px;
        top: -16px;
        stroke: $color-nav-roman-numeral;
        letter-spacing: normal;
    }
}

#open-nav-button {
    @include animated;
    position: fixed;
    z-index: 9998;
    top: 40px;
    right: 40px;
    opacity: 1;
    &:hover {
        opacity: 0.5;
    }
}

#close-nav-button {
    @extend #open-nav-button;
    display: none;
    width: 32px;
    padding: 0 2px;
    height: auto;
}

#overlay {
    @include animated(all 1000ms);
    opacity: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $color-intro-overlay;
    background-blend-mode: multiply;
    pointer-events: none;
    background-size: cover;
    background-position: center center;
    filter: none;
    &.show {
        opacity: 1;
    }
    &.blur {
        filter: blur(5px);
    }
}

#underlay {
    @extend #overlay;
    z-index: -1;
    background-color: rgba(#ccc, 0.75);
    background-blend-mode: normal;
}

#background-image {
    @extend #overlay;
    z-index: -1;
    background-blend-mode: normal;
    top: 100px;
    bottom: 100px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-intro-overlay;
        background-blend-mode: multiply;
    }
}

#clouds {
    @extend #overlay;
    z-index: 0;
    background-color: transparent;
    background-blend-mode: none;
    > li {
        width: 120vw;
        left: -10vw !important;
        top: -10vh !important;
        img {
            width: 120vw;
            opacity: 0.25;
        }
    }
}

#vignette {
    position: relative;
    pointer-events: none;
    &:after {
        box-shadow: inset 0 0 50vw $color-vignette;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
    }
}

.logo-container {
    text-align: center;
    position: fixed;
    z-index: 9998;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    img {
        width: 220px;
        height: auto;
    }
    &.horizontal {
        @include animated(all 1000ms);
        opacity: 0;
        pointer-events: none;
        top: 16px;
        transform: translateX(-50%);
        img {
            width: 220px;
            height: auto;
        }
        &.show {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.content {
    @include animated;
    opacity: 1;
}

.timeline {
    &-entry {
        .content {
            position: relative;
        }
        .italic-heading {
            &.small {
                padding-top: 8px;
            }
        }
    }
    &-border {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30px;
        border-left: 1px solid white;
    }
    &-body {
        position: relative;
        padding-left: 40px;
        + .timeline-body {
            margin-top: 120px;
        }
        &:before {
            content: '';
            display: block;
            border-top: 1px solid white;
            width: 30px;
            position: absolute;
            width: 30px;
            left: 0;
            top: 30px;
        }
    }
    &-content {
        padding-top: 50px;
    }
    &-date {
        float: left;
        width: 25%;
        padding: 0 30px 0 10px;
    }
    &-details {
        float: left;
        width: 75%;
    }
}

.quote {
    @extend .timeline;
    .vertical-align {
        z-index: 2;
    }
    &-border {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30px;
        border-left: 1px solid white;
    }
    &-background-image {
        @extend #background-image;
        z-index: 1;
        position: absolute;
        opacity: 1;
    }
}

section {
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: 700px;
    &#home {
        #title {
            @include animated(all 2000ms);
            width: 100%;
            background-color: $color-title-overlay;
            margin: 0 auto;
            .scroll-message {
                @extend h4;
                position: absolute;
                bottom: 40px;
                text-align: center;
                width: 100%;
                .scroll-arrow {
                    margin-top: 10px;
                }
            }
            .italic-heading {
                margin-top: 30px;
            }
        }
    }
    .intro {
        text-align: center;
        font-size: 22px;
        line-height: 42px;
        text-transform: uppercase;
        letter-spacing: 2px;
        h3 {
            margin-bottom: 100px;
            position: relative;
        }
    }
    .content {
        position: relative;
        z-index: 1;
    }
}

.animate-in {
    @include animated;
    opacity: 0;
    &.vertical {
        transform: translateY(-20px);
    }
    &.horizontal {
        transform: translateX(-20px);
    }
    &.reveal {
        opacity: 1;
        transform: none;
    }
}