h2 {
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 700;
}
h3 {
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        font-size: 30px;
        line-height: 40px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        font-size: 20px;
        line-height: 36px;
    }
}
h4 {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    a,
    a:visited {
        color: white;
        text-decoration: none;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        font-size: 11px;
    }
}
hr {
    display: inline-block;
    width: 60px;
    height: 1px;
    border: none;
    border-top: 1px solid $color-aqua;
    margin: 20px 0 10px;
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        margin: 14px 0 10px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        margin: 8px 0 6px;
    }
}
.italic-heading {
    font-size: 44px;
    line-height: 60px;
    font-family: $font-stack-secondary-italic;
    font-style: italic;
    text-transform: none;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        font-size: 38px;
        line-height: 50px;
    }
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        font-size: 22px;
        line-height: 34px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        font-size: 18px;
        line-height: 28px;
    }
    &.small {
        font-size: 32px;
        line-height: 40px;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            font-size: 26px;
            line-height: 34px;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            font-size: 18px;
            line-height: 30px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            font-size: 14px;
            line-height: 22px;
        }
    }
}
body {
    background-color: black;
    color: white;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        font-size: 14px;
        line-height: 26px;
    }
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        line-height: 22px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        font-size: 11px;
        line-height: 18px;
    }
    @media only screen and (max-width: $small-phone-breakpoint) {
        font-size: 10px;
        line-height: 16px;
    }
    &.loaded {
        header,
        footer .social-media,
        section {
            opacity: 1;
        }
        footer .social-media a {
            pointer-events: all;
        }
        #sub-nav {
            @media only screen and (max-width: $phone-breakpoint) {
                opacity: 1;
            }
        }
        #home {
            #title {
                width: 640px;
                @media only screen and (max-height: $tablet-portrait-breakpoint) {
                    width: 400px;
                }
                @media only screen and (max-width: $tablet-portrait-breakpoint) {
                    width: 100%;
                }
            }
            #tagline {
                opacity: 1;
            }
            #loading-bar,
            #loading-percentage {
                opacity: 0;
            }
        }
    }
    &.nav-open {
        .logo-container.horizontal {
            @include animated;
            transform: translateX(-50%) translateZ(0);
            opacity: 0;
        }
        .content,
        #sub-nav.show {
            @include animated;
            transform: translateY(-50%) translateZ(0);
            opacity: 0;
        }
        #sub-nav.show {
            @media only screen and (max-width: $phone-breakpoint) {
                opacity: 1;
            }
        }
        nav {
            opacity: 1;
            height: 100vh;
            @media only screen and (max-width: $phone-breakpoint) {
                height: calc(100vh - (100vw / #{$chapter-count}) - 5px);
            }
            @media only screen and (max-height: $min-screen-height) {
                display: none;
            }
        }
        header,
        footer,
        #open-nav-button,
        .scroll-message.show {
            opacity: 0;
        }
        #close-nav-button {
            opacity: 1;
            display: inline-block;
        }
        #home {
            #title {
                @include animated;
            }
        }
    }
}
#preload {
    display: none;
}
.video-background {
    @include animated(all, 1000ms);
    opacity: 0;
    position: fixed;
    z-index: -1;
    min-width: 105%;
    min-height: 105%;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    filter: none;
    -webkit-transform-style: preserve-3d;
    &.show {
        opacity: 1;
    }
    &.blur {
        filter: blur(5px);
    }
}
.video-substitute {
    @extend .video-background;
    min-width: 100vw !important;
    min-width: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
}
*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
}
*::--webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none
}
#home-video {
    background-position: center bottom;
    @media only screen and (max-width: $phone-breakpoint) {
        background-position: 30% bottom;
    }
}
.full-parent-height {
    position: relative;
}
header {
    @include animated;
    padding: 36px 42px 32px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9997;
    opacity: 0;
    pointer-events: none;
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        padding: 18px 26px 26px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        display: none;
    }
    @media only screen and (max-height: $min-screen-height) {
        display: none;
    }
    #back-to-np {
        @include animated;
        display: inline-block;
        margin-top: 5px;
        pointer-events: all;
        &:hover {
            opacity: 0.5;
        }
    }
}
footer {
    @extend header;
    top: initial;
    bottom: 0;
    opacity: 1;
    .icon {
        color: white;
        display: inline-block;
        font-size: 22px;
        pointer-events: all;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            display: block;
        }
        + .icon {
            margin-left: 10px;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                margin-left: 0;
            }
        }
        &:hover {
            opacity: 0.5;
        }
    }
    .audio {
        @include animated;
        opacity: 0;
        pointer-events: none;
        float: right;
        position: absolute;
        bottom: 32px;
        right: 46px;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            right: 32px;
        }
        &.show {
            opacity: 1;
            pointer-events: all;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .social-media {
        @include animated;
        opacity: 0;
        float: left;
        text-align: center;
        .icon {
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                margin-top: 4px;
            }
        }
        a {
            pointer-events: none;
        }
    }
}
.roman-numeral {
    display: block;
    width: 250px;
    position: absolute;
    z-index: -1;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        width: 200px;
        top: -80px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        width: 110px;
        top: -40px;
    }
}
nav {
    @include animated;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0;
    width: 100%;
    background-color: $color-nav-background;
    position: fixed;
    top: 0;
    z-index: 9999;
    overflow: hidden;
    height: 0;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        font-size: 16px;
        line-height: 22px;
    }
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        font-size: 14px;
        line-height: 18px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        top: calc((100vw / #{$chapter-count}) + 4px);
    }
    > ul {
        list-style: none;
        > li {
            @include animated;
            position: relative;
            text-align: center;
            top: -50px;
            opacity: 0;
            display: block;
            width: 100%;
            border-top: 1px solid white;
            &:first-child {
                border-top: none;
            }
            &.show {
                top: 0;
                opacity: 1;
            }
            a,
            a:visited {
                @include animated;
                background: transparent;
                color: white;
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                vertical-align: middle;
                &:hover {
                    background-color: rgba($color-silver, 0.85);
                    color: $color-dark-silver;
                    @media only screen and (max-width: $phone-breakpoint) {
                        background-color: transparent;
                        color: white;
                    }
                }
                span {
                    display: block;
                }
            }
        }
    }
    .roman-numeral {
        width: 80px;
        top: calc(50% + 3px);
        left: 50%;
        transform: translateX(-50%) translateY(-50%) translateZ(0);
        @media only screen and (max-width: $phone-breakpoint) {
            width: 60px;
        }
    }
}
#sub-nav {
    @include animated(all, 1000ms);
    opacity: 0;
    position: fixed;
    right: -1px;
    top: 50%;
    transform: translateY(-50%) translateZ(0);
    z-index: 9999;
    @media only screen and (max-height: $min-screen-height) {
        display: none;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        @include animated;
        top: -1px;
        left: 0;
        width: 100%;
        display: table;
    }
    @media only screen and (max-height: $min-screen-height) {
        display: none;
    }
    &.show {
        opacity: 1;
        a,
        a:visited {
            pointer-events: all;
        }
    }
    #position-container {
        border: 1px solid $color-sub-nav-border;
        border-right: none;
        width: 5px;
        position: absolute;
        left: -5px;
        height: 100%;
        overflow: hidden;
        @media only screen and (max-width: $phone-breakpoint) {
            background: $color-sub-nav-background;
            left: 0;
            bottom: -5px;
            height: 5px;
            width: 100%;
            border-left: none;
        }
        #position-indicator {
            @include animated(all, 1000ms);
            background-color: $color-aqua;
            width: 100%;
            @media only screen and (max-width: $phone-breakpoint) {
                width: 0;
                height: 5px;
            }
        }
    }
    > ul {
        list-style: none;
        width: 60px;
        border: 1px solid $color-sub-nav-border;
        @media only screen and (max-width: $small-desktop-breakpoint) {
            width: 40px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            width: 100vw;
            display: table-row;
        }
        li {
            @include animated(all, 1000ms);
            display: block;
            width: 60px;
            height: 60px;
            font-size: 18px;
            text-align: center;
            background-color: $color-sub-nav-background;
            @media only screen and (max-width: $small-desktop-breakpoint) {
                width: 40px;
                height: 40px;
                font-size: 12px;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                height: calc(100vw / #{$chapter-count});
                display: table-cell;
                font-size: 18px;
                + li {
                    border-left: 1px solid $color-sub-nav-border;
                }
            }
            &:not(:first-child) {
                border-top: 1px solid $color-sub-nav-border;
            }
            &.active {
                background-color: $color-sub-nav-border;
                a,
                a:visited {
                    color: $color-sub-nav-background;
                }
            }
        }
    }
    a,
    a:visited {
        font-family: $font-stack-secondary;
        display: block;
        height: 100%;
        position: relative;
        pointer-events: none;
        text-decoration: none;
        color: $color-sub-nav-border;
        @media only screen and (max-width: $phone-breakpoint) {
            pointer-events: all;
        }
        .title {
            margin: 0 auto;
            display: block;
            pointer-events: none;
            &.vertical-align {
                position: relative;
            }
        }
    }
}
#open-nav-button {
    @include animated;
    position: fixed;
    z-index: 9998;
    top: 40px;
    right: 40px;
    width: 32px;
    opacity: 1;
    pointer-events: all;
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        top: 22px;
        right: 24px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        top: calc(100vw / #{$chapter-count} + 38px);
        width: 22px;
    }
    &:hover {
        opacity: 0.5;
    }
}
#close-nav-button {
    @extend #open-nav-button;
    display: none;
    padding: 0 2px;
    height: auto;
}
#overlay {
    @include animated(all, 1000ms);
    opacity: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $color-intro-overlay;
    background-blend-mode: multiply;
    pointer-events: none;
    background-size: cover;
    background-position: center center;
    filter: none;
    &.show {
        opacity: 1;
    }
    &.blur {
        filter: blur(5px);
    }
}
#underlay {
    @extend #overlay;
    z-index: -1;
    background-color: rgba(#ccc, 0.75);
    background-blend-mode: normal;
    &.only-fade {
        @include animated(opacity, 1000ms);
    }
    &[style*="chapter-1-bg.jpg"] {
        background-position: 80% center;
    }
    &[style*="chapter-6-bg.jpg"] {
        background-position: 60% center;
    }
}
#background-image {
    @extend #overlay;
    z-index: -1;
    background-blend-mode: normal;
    top: 100px;
    bottom: 100px;
    @media only screen and (max-width: $phone-breakpoint) {
        top: 0;
        bottom: 0;
    }
    @media only screen and (max-height: $min-screen-height) {
        display: none;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-intro-overlay;
        background-blend-mode: multiply;
    }
}
.parallax {
    @extend #overlay;
    z-index: -1;
    background-color: transparent;
    background-blend-mode: none;
    @media only screen and (max-height: $min-screen-height) {
        display: none;
    }
    &-image {
        @include animated(all, 1000ms);
        background-size: cover;
        width: 100%;
        height: 100%;
        overflow: visible;
        background-position: center center;
        transform: scale(1.05);
    }
    > li {
        width: 100vw;
        height: 100vh;
    }
    &#home-parallax {
        .parallax-image {
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                background-position: 80% center;
            }
        }
    }
    &#chapter-1-parallax {
        .parallax-image {
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                background-position: 80% center;
            }
        }
    }
    &#chapter-2-parallax {
        .parallax-image {
            opacity: 0.35;
        }
    }
    &#chapter-6-parallax {
        .parallax-image {
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                background-position: 60% center;
            }
        }
    }
    &#end-parallax {
        z-index: 1;
        transform: translateX(25%) translateZ(0) !important;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            transform: scale(1) translateX(25%) translateZ(0) !important;
            top: 5vh;
        }
        > li {
            width: 50vw;
            top: 10vh !important;
        }
    }
}
#vignette {
    position: relative;
    pointer-events: none;
    &:after {
        box-shadow: inset 0 0 50vw $color-vignette;
        position: fixed;
        z-index: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        @media only screen and (max-height: $tablet-landscape-breakpoint) {
            box-shadow: inset 0 0 35vh $color-vignette;
        }
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            box-shadow: inset 0 0 35vw $color-vignette;
        }
    }
}
#screen-blocker {
    display: none;
    @media only screen and (max-height: $min-screen-height) {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: all;
        z-index: 9999;
        background-color: $color-intro-overlay;
        text-align: center;
        img {
            width: 120px;
            height: 120px;
        }
    }
}
.logo-container {
    text-align: center;
    position: fixed;
    z-index: 9998;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    img {
        width: 220px;
        height: auto;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            width: 180px;
        }
        @media only screen and (max-width: $phone-breakpoint),
        only screen and (max-height: $tablet-portrait-breakpoint) {
            width: 140px;
        }
        @media only screen and (max-width: $small-phone-breakpoint) {
            width: 110px;
        }
    }
    &.horizontal {
        @include animated(all, 1000ms);
        opacity: 0;
        pointer-events: none;
        top: 16px;
        transform: translateX(-50%) translateZ(0);
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            display: none;
        }
        &.show {
            opacity: 1;
            pointer-events: all;
        }
    }
}
.content {
    @include animated;
    opacity: 1;
    @media only screen and (max-height: $min-screen-height) {
        display: none;
    }
}
.timeline {
    &-entry {
        .content {
            position: relative;
        }
        .italic-heading {
            &.small {
                padding-top: 8px;
                @media only screen and (max-width: $tablet-landscape-breakpoint) {
                    padding-top: 2px;
                }
                @media only screen and (max-width: $tablet-portrait-breakpoint) {
                    padding-top: 6px;
                    letter-spacing: 1px;
                }
                @media only screen and (max-width: $phone-breakpoint) {
                    padding-top: 0;
                }
            }
        }
    }
    &-border {
        @include animated;
        display: block;
        position: absolute;
        top: 0;
        left: $timeline-border-offset;
        bottom: 0;
        width: 30px;
        border-left: 1px solid white;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            left: $timeline-border-offset / 4;
        }
    }
    &-body {
        position: relative;
        padding-left: $timeline-border-offset * 1.5;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            padding-left: $timeline-border-offset;
        }
        + .timeline-body {
            margin-top: $timeline-border-offset;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                margin-top: $timeline-border-offset / 2;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                margin-top: $timeline-border-offset / 4;
            }
        }
        &:before {
            content: '';
            display: block;
            border-top: 1px solid white;
            width: 30px;
            position: absolute;
            width: 30px;
            left: $timeline-border-offset;
            top: 30px;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                left: $timeline-border-offset / 4;
            }
        }
    }
    &-content {
        padding-top: 20px;
        @media only screen and (max-width: $phone-breakpoint) {
            padding-top: calc((100vw / #{$chapter-count}) - 20px);
        }
    }
    &-date {
        float: left;
        width: 25%;
        padding: 0 30px 0 10px;
        font-size: 64px;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            width: 170px;
            font-size: 46px;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            float: none;
            padding-left: 0;
            font-size: 32px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            font-size: 22px;
        }
    }
    &-details {
        float: left;
        width: 75%;
        padding-right: 80px;
        > p {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            width: 65%;
            padding-right: 20px;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            float: none;
            width: 100%;
            padding-right: 80px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            padding-right: 15px;
        }
    }
    &-gallery {
        @include hide-scrollbars;
        margin-top: 35px;
        padding: 0 40px;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            padding: 0 120px;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            padding: 0;
            overflow: visible;
            overflow-x: scroll;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            margin-top: 15px;
        }
    }
    &-slider {
        @include shadow;
        margin: 40px 130px 0;
        position: relative;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            margin-left: 70px;
            margin-right: 70px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            margin-top: 15px;
            margin-right: 30px;
            margin-left: 30px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .caption {
            position: absolute;
            bottom: -50px;
            text-align: center;
            width: 100%;
            @media only screen and (max-width: $phone-breakpoint) {
                padding: 0 35px;
                font-size: 10px;
                line-height: 16px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
        }
    }
}
.gallery {
    @include hide-scrollbars;
    list-style: none;
    display: block;
    > li {
        @include animated;
        @include build-gallery-entry-properties($gallery-entry-list);
        display: block;
        position: relative;
        &:after {
            @include animated;
            content: '';
            display: block;
            opacity: 0.75;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
        &.active {
            &:after {
                opacity: 0;
            }
        }
        &:not(.active) {
            cursor: pointer;
            overflow: hidden;
            &:hover {
                &:after {
                    opacity: 0.25;
                }
                .image {
                    transform: scale(1.05) translateZ(0);
                }
            }
        }
        .image {
            @include animated;
            background-size: cover;
            background-position: center center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
        }
    }
    &.type-a {
        height: 380px;
        max-height: 35vh;
        overflow: visible !important;
        position: relative;
        top: -6px;
        > li {
            width: 600px;
            height: 380px;
            max-height: 40vh;
            @media only screen and (min-width: $tablet-portrait-breakpoint + 1) {
                &.animate-in {
                    transform: translateZ(0);
                    &.vertical {
                        margin-top: 20px;
                        &.reveal {
                            margin-top: 0;
                        }
                    }
                    &.horizontal {
                        margin-left: 20px;
                        &.reveal {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        &.has-two {
            > li {
                @include animated;
                left: 0;
                &:not(.active) {
                    left: 30%;
                    @media only screen and (max-width: $tablet-portrait-breakpoint) {
                        left: initial;
                    }
                }
            }
        }
    }
    &.type-b {
        @include clearfix;
        > li {
            height: 380px;
            max-height: 40vh;
            margin: 5px;
            width: 120px;
            float: left;
            @media only screen and (max-width: $tablet-landscape-breakpoint) {
                width: 60px;
            }
        }
    }
    li {
        @include shadow;
        .caption {
            @include animated;
            position: absolute;
            bottom: -40px;
            font-size: 14px;
            line-height: 28px;
            text-overflow: inherit;
            opacity: 0;
        }
        &.active {
            .caption {
                opacity: 1;
            }
        }
    }
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        &.type-a,
        &.type-b {
            overflow: visible !important;
            overflow-x: scroll !important;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            pointer-events: all;
            padding: 0 80px;
            height: calc(30vh + 30px);
            > li {
                display: inline-block !important;
                position: relative !important;
                height: 30vh;
                width: 50vh !important;
                margin: 0;
                margin-right: 20px;
                padding: 0;
                float: none;
                transform: translateZ(0) !important;
                transform-origin: center !important;
                overflow: visible;
                max-height: none;
                cursor: default;
                cursor: -webkit-grab;
                &:after {
                    display: none;
                }
                &:last-child {
                    margin-right: 40px;
                }
                &:active {
                    cursor: default;
                    cursor: -webkit-grabbing;
                }
                &:not(.active) {
                    overflow: visible;
                    &:hover {
                        .image {
                            transform: translateZ(0);
                        }
                    }
                }
                .image {
                    overflow: visible;
                }
            }
            .caption {
                opacity: 1;
                display: block;
                width: 100%;
                bottom: -28px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    @media only screen and (max-width: $phone-breakpoint) {
        &.type-a,
        &.type-b {
            height: 25vh;
            max-height: 25vh;
            > li {
                height: 25vh;
            }
            .caption {
                font-size: 10px;
            }
        }
    }
}
.quote {
    @extend .timeline;
    &-entry {
        &.end {
            .quote-border {
                bottom: 50vh;
            }
        }
    }
    &-border {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: $timeline-border-offset;
        width: 30px;
        border-left: 1px solid white;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            left: $timeline-border-offset / 4;
        }
    }
    &-background-image {
        @extend #background-image;
        z-index: 0;
        position: absolute;
        opacity: 1;
    }
    &-body {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
        padding: 0 40px;
        @media only screen and (max-width: $phone-breakpoint) {
            padding: 0;
        }
    }
    &-image-container {
        @include shadow(-4px, 12px);
        width: 30vh;
        height: 30vh;
        transform: rotate(-45deg) translateY(-70%) translateZ(0);
        display: block;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            width: 20vh;
            height: 20vh;
            position: relative;
            margin-bottom: -20px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            display: none;
        }
    }
    &-image {
        background-size: cover;
        background-position: center center;
        transform: rotate(45deg) translateZ(0);
        position: absolute;
        display: block;
        width: 50vh;
        height: 50vh;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            width: 40vh;
            height: 40vh;
        }
        &:after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.7;
        }
        &.aqua {
            &:after {
                background-color: $color-aqua;
            }
        }
        &.orange {
            &:after {
                background-color: $color-orange;
            }
        }
        &.green {
            &:after {
                background-color: $color-green;
            }
        }
        &.silver {
            &:after {
                background-color: $color-silver;
            }
        }
        &.dark-silver {
            &:after {
                background-color: $color-dark-silver;
            }
        }
    }
    &-caption {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 100%;
        bottom: 40px;
        font-size: 14px;
        line-height: 28px;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            font-size: 12px;
            line-height: 22px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            font-size: 11px;
            padding: 0 75px;
        }
        h4 {
            font-size: 18px;
            line-height: 36px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                font-size: 12px;
                line-height: 20px;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }
    .vertical-align {
        z-index: 2;
    }
}
section {
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: $min-screen-height;
    opacity: 0;
    overflow: hidden;
    &#home {
        opacity: 1;
        #title {
            @include animated(all 2000ms);
            width: 100%;
            background-color: $color-title-overlay;
            margin: 0 auto;
        }
        #tagline {
            @include animated(all, 1000ms);
            opacity: 0;
            margin-top: 30px;
            font-size: 46px;
            line-height: 54px;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                font-size: 38px;
                line-height: 46px;
            }
            @media only screen and (max-width: $phone-breakpoint),
            only screen and (max-height: $tablet-portrait-breakpoint) {
                font-size: 28px;
                line-height: 36px;
            }
            @media only screen and (max-width: $small-phone-breakpoint) {
                margin-top: 16px;
                font-size: 22px;
                line-height: 30px;
            }
        }
        #loading-bar {
            @include animated;
            opacity: 1;
            position: fixed;
            left: 0;
            bottom: 20vh;
            width: 0;
            max-width: 100%;
            height: 4px;
            background-color: $color-loading-bar;
            pointer-events: none;
            z-index: 0;
        }
        #loading-percentage {
            @include animated;
            font-weight: 700;
            opacity: 1;
            position: fixed;
            left: 0;
            bottom: calc(20vh + 20px);
            width: 100%;
            text-align: center;
            pointer-events: none;
        }
    }
    &#end {
        background-size: cover;
        background-position: center bottom;
        .content {
            text-align: center;
            .vertical-align {
                padding: 10vh 75px 0;
                @media only screen and (max-width: $tablet-portrait-breakpoint) {
                    padding-left: 60px;
                    padding-right: 60px;
                }
                @media only screen and (max-width: $phone-breakpoint) {
                    padding-left: 32px;
                    padding-right: 32px;
                    padding: 0 60px;
                }
            }
            .italic-heading {
                margin-top: 20px;
                @media only screen and (max-width: $phone-breakpoint) {
                    margin-top: 30px;
                    font-size: 16px;
                }
            }
        }
        .fireworks-image {
            margin-top: 5vh;
            margin-bottom: -40px;
            width: 75%;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                margin-bottom: 0;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                width: 100%;
                margin-bottom: -20px;
                margin-top: 10vh;
            }
        }
    }
    .intro {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        h3 {
            margin-bottom: 100px;
            position: relative;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                margin-bottom: 80px;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                line-height: 30px;
                margin-bottom: 60px;
            }
        }
        p {
            font-size: 18px;
            line-height: 38px;
            padding: 0 80px;
            @media only screen and (max-width: $small-desktop-breakpoint) {
                padding: 0 60px;
            }
            @media only screen and (max-width: $tablet-landscape-breakpoint) {
                font-size: 16px;
                line-height: 36px;
            }
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                font-size: 14px;
                line-height: 28px;
                padding: 0 75px;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                font-size: 10px;
                line-height: 16px;
                padding: 0 15px;
            }
        }
        .vertical-align {
            margin-top: 30px;
            @media only screen and (max-width: $tablet-landscape-breakpoint) {
                margin-top: 20px;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                margin-top: calc((100vw / #{$chapter-count}) - 20px);
            }
        }
    }
    .content {
        position: relative;
        z-index: 1;
    }
}
.scroll-message {
    @include animated(all, 1000ms);
    @extend h4;
    position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;
    opacity: 0;
    margin-bottom: 60px;
    @media only screen and (max-height: $tablet-portrait-breakpoint) {
        font-size: 10px;
    }
    @media only screen and (max-height: $tablet-portrait-breakpoint) {
        bottom: 22px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        font-size: 10px;
        line-height: 18px;
        text-transform: none;
    }
    @media only screen and (max-width: $small-phone-breakpoint) {
        font-size: 8px;
    }
    &.show {
        opacity: 1;
        margin-bottom: 0;
    }
    .scroll-arrow {
        margin-top: 10px;
        @media only screen and (max-width: $small-phone-breakpoint) {
            max-width: 40px
        }
    }
}
.animate-in {
    @include animated;
    opacity: 0;
    &.vertical {
        transform: translateY(20px) translateZ(0);
    }
    &.horizontal {
        transform: translateX(-20px) translateZ(0);
    }
    &.blur {
        @include animated(all, 1000ms);
        filter: blur(10px);
    }
    &.reveal {
        opacity: 1;
        filter: none;
        transform: translateZ(0);
    }
}
