h2 {
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 700;
}
h3 {
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        font-size: 30px;
        line-height: 40px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        font-size: 22px;
        line-height: 36px;
    }
}
h4 {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    a,
    a:visited {
        color: white;
        text-decoration: none;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        font-size: 11px;
    }
}
hr {
    display: inline-block;
    width: 60px;
    border: 1px solid $color-aqua;
    border-bottom: none;
    margin: 30px 0 20px;
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        margin: 14px 0 10px;
    }
}
.italic-heading {
    font-size: 60px;
    line-height: 72px;
    font-family: $font-stack-secondary;
    font-style: italic;
    text-transform: none;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        font-size: 46px;
        line-height: 54px;
    }
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        font-size: 32px;
        line-height: 46px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        font-size: 28px;
        line-height: 42px;
    }
    &.small {
        font-size: 32px;
        line-height: 46px;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            font-size: 26px;
            line-height: 38px;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            font-size: 18px;
            line-height: 30px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            line-height: 28px;
        }
    }
}
body {
    background-color: black;
    color: white;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        font-size: 14px;
        line-height: 26px;
    }
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        line-height: 22px;
    }
    @media only screen and (max-width: $phone-breakpoint) {
        font-size: 12px;
    }
    &.loaded {
        header,
        footer .social-media,
        section {
            opacity: 1;
        }
        footer .social-media a {
            pointer-events: all;
        }
        #home {
            #title {
                width: 640px;
                @media only screen and (max-width: $tablet-landscape-breakpoint) {
                    width: 100%;
                }
            }
            #tagline {
                opacity: 1;
            }
            #loading-bar,
            #loading-percentage {
                opacity: 0;
            }
        }
        .roman-numeral {
            display: inline-block;
        }
    }
    &.nav-open {
        .logo-container.horizontal {
            @include animated;
            opacity: 0;
        }
        .content,
        #sub-nav.show {
            @include animated;
            opacity: 0;
        }
        nav {
            opacity: 1;
            height: 100%;
        }
        header,
        footer {
            opacity: 0;
        }
        #open-nav-button {
            opacity: 0;
        }
        #close-nav-button {
            opacity: 1;
            display: inline-block;
        }
        #home {
            #title {
                @include animated;
            }
        }
    }
}
#preload {
    display: none;
}
.video-background {
    @include animated(all, 1000ms, ease);
    opacity: 0;
    position: absolute;
    z-index: -1;
    min-width: 105%;
    min-height: 105%;
    width: auto;
    height: auto;
    background-size: cover;
    pointer-events: none;
    filter: none;
    -webkit-transform-style: preserve-3d;
    &.show {
        opacity: 1;
    }
    &.blur {
        filter: blur(5px);
    }
}
video::-webkit-media-controls {
    display: none !important;
}
#home-video {
    -webkit-transform: translate3d(0, 0, 0);
}
.full-parent-height {
    position: relative;
}
header {
    @include animated;
    padding: 36px 42px 32px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        padding: 24px 32px 32px;
    }
    #back-to-np {
        display: inline-block;
        margin-top: 5px;
        pointer-events: all;
        @media only screen and (max-width: $phone-breakpoint) {
            display: none;
        }
    }
}
footer {
    @extend header;
    top: initial;
    bottom: 0;
    opacity: 1;
    .icon {
        color: white;
        display: inline-block;
        font-size: 22px;
        pointer-events: all;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            display: block;
        }
        + .icon {
            margin-left: 10px;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                margin-left: 0;
            }
        }
        &:hover {
            opacity: 0.5;
        }
    }
    .audio {
        float: right;
        position: absolute;
        bottom: 32px;
        right: 46px;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            right: 32px;
        }
    }
    .social-media {
        @include animated;
        opacity: 0;
        float: left;
        text-align: center;
        .icon {
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                margin-top: 4px;
            }
        }
        a {
            pointer-events: none;
        }
    }
}
.roman-numeral {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 0;
    font-family: $font-stack-secondary;
    stroke: $color-green;
    stroke-width: 0.15px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 700;
    fill: none;
    position: absolute;
    top: -72px;
    z-index: -1;
    display: none;
    overflow: visible;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        top: 6%;
        transform: translateY(-40%);
    }
    text {
        display: inline-block;
    }
}
nav {
    @include animated;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    opacity: 0;
    width: 100%;
    background-color: rgba(black, 0.75);
    position: fixed;
    top: 0;
    z-index: 9999;
    overflow: hidden;
    height: 0;
    @media only screen and (max-width: $tablet-landscape-breakpoint) {
        font-size: 16px;
        line-height: 22px;
    }
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        font-size: 14px;
        line-height: 18px;
    }
    > ul {
        list-style: none;
        > li {
            @include animated;
            position: relative;
            text-align: center;
            top: -50px;
            opacity: 0;
            display: block;
            width: 100%;
            border-top: 1px solid white;
            &:first-child {
                border-top: none;
            }
            &.show {
                top: 0;
                opacity: 1;
            }
            a,
            a:visited {
                @include animated;
                background: transparent;
                color: white;
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                vertical-align: middle;
                &:hover {
                    background-color: rgba(white, 0.7);
                    color: $color-nav-hover;
                }
                span {
                    display: block;
                }
            }
        }
    }
    .roman-numeral {
        font-size: 4px;
        stroke-width: 0.1px;
        top: 50%;
        transform: translateY(-50%);
        stroke: $color-nav-roman-numeral;
        letter-spacing: normal;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            font-size: 8px;
            margin-top: 1.6%;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            transform: scale(1.25);
            stroke-width: 0.2px;
            margin-top: -2.8%;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            margin-top: -2.4%;
        }
    }
}
#sub-nav {
    @include animated(all 1000ms);
    opacity: 0;
    position: fixed;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    &.show {
        opacity: 1;
        a {
            pointer-events: all;
        }
    }
    #position-container {
        border: 1px solid rgba(white, 0.25);
        border-right: none;
        width: 5px;
        position: absolute;
        left: -5px;
        height: 100%;
        #position-indicator {
            @include animated(all 1000ms);
            background-color: $color-aqua;
            width: 100%;
        }
    }
    > ul {
        list-style: none;
        background-color: rgba(black, 0.75);
        width: 60px;
        border: 1px solid rgba(white, 0.25);
        li {
            display: block;
            width: 60px;
            height: 60px;
            &:not(:first-child) {
                border-top: 1px solid rgba(white, 0.25);
            }
        }
    }
    a {
        pointer-events: none;
    }
}
#open-nav-button {
    @include animated;
    position: fixed;
    z-index: 9998;
    top: 40px;
    right: 40px;
    opacity: 1;
    pointer-events: all;
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        top: 32px;
        right: 32px;
    }
    &:hover {
        opacity: 0.5;
    }
}
#close-nav-button {
    @extend #open-nav-button;
    display: none;
    width: 32px;
    padding: 0 2px;
    height: auto;
}
#overlay {
    @include animated(all 1000ms);
    opacity: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $color-intro-overlay;
    background-blend-mode: multiply;
    pointer-events: none;
    background-size: cover;
    background-position: center center;
    filter: none;
    &.show {
        opacity: 1;
    }
    &.blur {
        filter: blur(5px);
    }
}
#underlay {
    @extend #overlay;
    z-index: -1;
    background-color: rgba(#ccc, 0.75);
    background-blend-mode: normal;
}
#background-image {
    @extend #overlay;
    z-index: -1;
    background-blend-mode: normal;
    top: 100px;
    bottom: 100px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-intro-overlay;
        background-blend-mode: multiply;
    }
}
#clouds {
    @extend #overlay;
    z-index: 0;
    background-color: transparent;
    background-blend-mode: none;
    > li {
        width: 120vw;
        left: -10vw !important;
        top: -10vh !important;
        img {
            width: 120vw;
            opacity: 0.25;
        }
    }
}
#vignette {
    position: relative;
    pointer-events: none;
    &:after {
        box-shadow: inset 0 0 50vw $color-vignette;
        position: fixed;
        z-index: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
    }
}
#screen-blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: all;
    z-index: 9999;
    background-color: $color-intro-overlay;
}
.logo-container {
    text-align: center;
    position: fixed;
    z-index: 9998;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    img {
        width: 220px;
        height: auto;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            width: 180px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            width: 140px;
        }
    }
    &.horizontal {
        @include animated(all 1000ms);
        opacity: 0;
        pointer-events: none;
        top: 16px;
        transform: translateX(-50%);
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            display: none;
        }
        &.show {
            opacity: 1;
            pointer-events: all;
        }
    }
}
.content {
    @include animated;
    opacity: 1;
}
.timeline {
    &-entry {
        .content {
            position: relative;
        }
        .italic-heading {
            &.small {
                padding-top: 4px;
                @media only screen and (max-width: $tablet-landscape-breakpoint) {
                    padding-top: 2px;
                }
                @media only screen and (max-width: $tablet-portrait-breakpoint) {
                    padding-top: 6px;
                }
            }
        }
    }
    &-border {
        @include animated;
        display: block;
        position: absolute;
        top: 0;
        left: $timeline-border-offset;
        bottom: 0;
        width: 30px;
        border-left: 1px solid white;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            left: $timeline-border-offset / 4;
        }
    }
    &-body {
        position: relative;
        padding-left: $timeline-border-offset * 1.5;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            padding-left: $timeline-border-offset / 1.2;
        }
        + .timeline-body {
            margin-top: $timeline-border-offset;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                margin-top: $timeline-border-offset / 2;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                margin-top: $timeline-border-offset / 4;
            }
        }
        &:before {
            content: '';
            display: block;
            border-top: 1px solid white;
            width: 30px;
            position: absolute;
            width: 30px;
            left: $timeline-border-offset;
            top: 30px;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                left: $timeline-border-offset / 4;
            }
        }
    }
    &-content {
        padding-top: 20px;
    }
    &-date {
        float: left;
        width: 25%;
        padding: 0 30px 0 10px;
        font-size: 64px;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            width: 170px;
            font-size: 46px;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            float: none;
            padding-left: 0;
            font-size: 32px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            font-size: 28px;
        }
    }
    &-details {
        float: left;
        width: 75%;
        padding-right: $timeline-border-offset;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            width: 65%;
            padding-right: $timeline-border-offset / 2;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            float: none;
            width: 100%;
        }
    }
    &-gallery {
        @include hide-scrollbars;
        margin-top: 35px;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            padding: 0 40px;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            padding: 0;
            overflow: visible;
            overflow-x: scroll;
        }
    }
    &-slider {
        @include shadow;
        margin: 40px 130px 0;
        position: relative;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            margin-left: 70px;
            margin-right: 70px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            margin-left: 30px;
            margin-right: 30px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .caption {
            position: absolute;
            bottom: -40px;
            text-align: center;
            width: 100%;
        }
    }
}
.gallery {
    @include hide-scrollbars;
    list-style: none;
    display: block;
    > li {
        @include animated;
        @include build-gallery-entry-properties($gallery-entry-list);
        display: block;
        position: relative;
        &:after {
            @include animated;
            content: '';
            display: block;
            opacity: 0.75;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
        &.active {
            &:after {
                opacity: 0;
            }
        }
        &:not(.active) {
            cursor: pointer;
            overflow: hidden;
            &:hover {
                &:after {
                    opacity: 0.25;
                }
                .image {
                    transform: scale(1.05);
                }
            }
        }
        .image {
            @include animated;
            background-size: cover;
            background-position: center center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            transform: none;
        }
    }
    &.type-a {
        height: 380px;
        max-height: 45vh;
        overflow: visible !important;
        position: relative;
        top: -6px;
        > li {
            width: 600px;
            height: 380px;
            max-height: 45vh;
            @media only screen and (min-width: $tablet-portrait-breakpoint + 1) {
                &.animate-in {
                    transform: none;
                    &.vertical {
                        margin-top: 20px;
                        &.reveal {
                            margin-top: 0;
                        }
                    }
                    &.horizontal {
                        margin-left: 20px;
                        &.reveal {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
    &.type-b {
        > li {
            height: 380px;
            max-height: 45vh;
            margin: 5px;
            width: 140px;
            float: left;
            @media only screen and (max-width: $tablet-landscape-breakpoint) {
                width: 60px;
            }
        }
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }
    li {
        @include shadow;
        .caption {
            @include animated;
            position: absolute;
            bottom: -40px;
            font-size: 14px;
            line-height: 28px;
            text-overflow: inherit;
            opacity: 0;
        }
        &.active {
            .caption {
                opacity: 1;
            }
        }
    }
    @media only screen and (max-width: $tablet-portrait-breakpoint) {
        &.type-a,
        &.type-b {
            position: relative;
            overflow: visible !important;
            overflow-x: scroll !important;
            white-space: nowrap;
            padding: 0 65px;
            height: calc(40vh + 36px);
            > li {
                display: inline-block !important;
                position: relative !important;
                height: 40vh;
                width: 60vh !important;
                margin: 0;
                margin-right: 20px;
                padding: 0;
                float: none;
                transform: none !important;
                transform-origin: center !important;
                overflow: visible;
                max-height: none;
                cursor: default;
                cursor: -webkit-grab;
                &:after {
                    display: none;
                }
                &:last-child {
                    margin-right: 40px;
                }
                &:active {
                    cursor: default;
                    cursor: -webkit-grabbing;
                }
                &:not(.active) {
                    overflow: visible;
                    &:hover {
                        .image {
                            transform: none;
                        }
                    }
                }
                .image {
                    overflow: visible;
                }
            }
            .caption {
                opacity: 1;
                display: block;
                width: 100%;
                bottom: -28px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    @media only screen and (max-width: $phone-breakpoint) {
        &.type-a,
        &.type-b {
            .caption {
                font-size: 11px;
            }
        }
    }
}
.quote {
    @extend .timeline;
    .vertical-align {
        z-index: 2;
    }
    &-border {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: $timeline-border-offset;
        width: 30px;
        border-left: 1px solid white;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            left: $timeline-border-offset / 4;
        }
    }
    &-background-image {
        @extend #background-image;
        z-index: 0;
        position: absolute;
        opacity: 1;
    }
    &-body {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }
    &-image-container {
        @include shadow(-4px, 12px);
        width: 30vh;
        height: 30vh;
        transform: rotate(-45deg) translateY(-70%);
        display: block;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        cursor: crosshair;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            width: 20vh;
            height: 20vh;
            position: relative;
            margin-bottom: -20px;
        }
    }
    &-image {
        background-size: cover;
        background-position: center center;
        transform: rotate(45deg);
        position: absolute;
        display: block;
        width: 50vh;
        height: 50vh;
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            width: 40vh;
            height: 40vh;
        }
        &:after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.7;
        }
        &.aqua {
            &:after {
                background-color: $color-aqua;
            }
        }
        &.orange {
            &:after {
                background-color: $color-orange;
            }
        }
        &.green {
            &:after {
                background-color: $color-green;
            }
        }
        &.silver {
            &:after {
                background-color: $color-silver;
            }
        }
        &.dark-silver {
            &:after {
                background-color: $color-dark-silver;
            }
        }
    }
    &-caption {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 100%;
        bottom: 40px;
        font-size: 14px;
        line-height: 28px;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            font-size: 12px;
            line-height: 22px;
        }
        @media only screen and (max-width: $phone-breakpoint) {
            font-size: 11px;
        }
        h4 {
            font-size: 18px;
            line-height: 36px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                font-size: 16px;
                line-height: 24px;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}
section {
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: 560px;
    opacity: 0;
    overflow: hidden;
    &#home {
        opacity: 1;
        #title {
            @include animated(all 2000ms);
            width: 100%;
            background-color: $color-title-overlay;
            margin: 0 auto;
            .scroll-message {
                @include animated(all 1000ms);
                @extend h4;
                position: absolute;
                bottom: 40px;
                text-align: center;
                width: 100%;
                opacity: 0;
                margin-bottom: 50px;
                &.show {
                    opacity: 1;
                    margin-bottom: 0;
                }
                .scroll-arrow {
                    margin-top: 10px;
                }
            }
        }
        #tagline {
            @include animated(all 1000ms);
            opacity: 0;
            margin-top: 30px;
            font-size: 46px;
            line-height: 54px;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                font-size: 38px;
                line-height: 46px;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                font-size: 28px;
                line-height: 36px;
            }
        }
        #loading-bar {
            @include animated;
            opacity: 1;
            position: fixed;
            left: 0;
            bottom: 20vh;
            width: 0;
            max-width: 100%;
            height: 4px;
            background-color: $color-loading-bar;
            pointer-events: none;
            z-index: 0;
        }
        #loading-percentage {
            @include animated;
            opacity: 1;
            position: fixed;
            left: 0;
            bottom: calc(20vh + 20px);
            width: 100%;
            text-align: center;
            pointer-events: none;
        }
    }
    .intro {
        text-align: center;
        font-size: 22px;
        line-height: 42px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 0 80px;
        @media only screen and (max-width: $tablet-landscape-breakpoint) {
            font-size: 18px;
            line-height: 36px;
        }
        @media only screen and (max-width: $tablet-portrait-breakpoint) {
            font-size: 14px;
            line-height: 28px;
            padding: 0 40px;
        }
        h3 {
            margin-bottom: 100px;
            position: relative;
            @media only screen and (max-width: $tablet-portrait-breakpoint) {
                margin-bottom: 80px;
            }
            @media only screen and (max-width: $phone-breakpoint) {
                line-height: 30px;
                margin-bottom: 60px;
            }
        }
    }
    .content {
        position: relative;
        z-index: 1;
    }
}
.animate-in {
    @include animated;
    opacity: 0;
    &.vertical {
        transform: translateY(20px);
    }
    &.horizontal {
        transform: translateX(-20px);
    }
    &.blur {
        @include animated(all 1000ms);
        filter: blur(10px);
    }
    &.reveal {
        opacity: 1;
        transform: none;
        filter: none;
    }
}
