$font-stack-primary: Stainless, sans-serif;
$font-stack-secondary: 'Libre Baskerville', serif;
$font-size: 16px;
$line-height: 30px;
$container-width: 1024px;
$grid-spacing: 8px;
$min-screen-height: 560px;
$chapter-count: 6;
$tablet-landscape-breakpoint: 1024px;
$tablet-portrait-breakpoint: 768px;
$phone-breakpoint: 480px;
$tablet-landscape-affix: tl;
$tablet-portrait-affix: tp;
$phone-affix: p;
$adjustment-max: 16;
$color-title-overlay: rgba(black, 0.75);
$color-intro-overlay: rgba(50, 68, 101, 0.8);
$color-vignette: rgba(black, 0.75);
$color-nav-roman-numeral: rgba(white, 0.35);
$color-loading-bar: rgba(white, 0.25);
$color-nav-hover: #676f7c;
$color-green: #C3D500;
$color-aqua: #25CAD3;
$color-orange: #F5A81C;
$color-silver: #C6D2D9;
$color-dark-silver: #6C7C8F;
$timeline-border-offset: 80px;