$font-stack-primary: Stainless, sans-serif;
$font-stack-secondary: 'Libre Baskerville', serif;
$font-size: 16px;
$line-height: 32px;
$container-width: 1024px;
$grid-spacing: 8px;
$tablet-landscape-breakpoint: 1024px;
$tablet-portrait-breakpoint: 768px;
$phone-breakpoint: 480px;
$tablet-landscape-affix: tl;
$tablet-portrait-affix: tp;
$phone-affix: p;
$adjustment-max: 16;
$color-title-overlay: rgba(black, 0.75);
$color-intro-overlay: rgba(50, 68, 101, 0.8);
$color-vignette: rgba(black, 0.75);
$color-nav-roman-numeral: rgba(white, 0.35);
$color-loading-bar: rgba(white, 0.25);
$color-nav-hover: #676f7c;
$color-green: #bfd62f;
$color-teal: #3fcfd5;
$color-yellow: #ffc82B;
$color-pink: #e265b0;
$timeline-border-offset: 80px;